
/*<------------------ Basic ---------------->*/

.container {
  padding: 5% 0;
}

h1 {
  color: red;
  text-align: center;
}

.header-image-earth {
  width: 250px;
  margin: 5%;
  border: 10px solid tomato;
}

/*<------------------ Bootstrap ------------>*/

.col-md-12 {
  text-align: center;
}

.col-md-4 {
  border: 1px solid black
}

.col-md-8 {
  border: 1px solid black

}

.col-md-3 {
  border: 1px solid grey
}
